.jumbotron{

   
	color: brown;
    border-radius: 20px;

}
.container{

/*	color: blueviolet;*/
	color: black;
    
}
.block{
 text-align: center;


}
.block a {
    padding-left: 50px;
    padding-right: 50px;
}



.myContainer{
    padding-top: 70px;
    margin-left: 120px;
    margin-right: 120px;
}

#bookmark1:before { 
  display: block; 
  content: " "; 
  margin-top: -255px; 
  height: 255px; 
  visibility: hidden; 
}
.bar{
padding-bottom: 10px;}

.break{margin-top: 70px;}